<%= form_for(@joke) do |f| %>
  <% if @joke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joke.errors.count, "error") %> gjorde att skämtet inte kunde sparas:</h2>

      <ul>
      <% @joke.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label "Skämtets uppbyggnad" %><br />
      <%= f.text_area :buildup %>
    </div>
    <div class="field">
      <%= f.label "Punchline" %><br />
      <%= f.text_area :punchline %>
    </div>
  
  <div class="actions">
    <%= f.submit "Skapa vits", :class => "btn btn-primary" %>
  </div>
<% end %>
