<p id="notice"><%= notice %></p>

<script type="text/javascript">
  $(document).ready(function(){
    $(".spoiler").hide();
    $(".punchline").click(function(){
      var parent = $(this).parent();
      parent.find(".spoiler").fadeIn();
      parent.find(".punchline").hide();
    });        
  });
</script>

<div>

</div>

<div class="well joke">
  <h2>
    <%= "\"#{@joke.buildup}\"" %>
  </h2>
  <br />
  <div class="spoiler">
  <h2>
    <hr />
    <%= "\"#{@joke.punchline}\"" %>
  </h2>
  <div class="clearfix">
    <div class="actions pull-right">
      <%= form_tag :action => 'vote', :id => @joke.id do | f | %>
        <%= submit_tag 'Bra', :class => "btn btn-primary" %>
        <%= submit_tag 'Anus', :class => "btn btn-danger" %>
        <%= submit_tag 'Nästa', :class => "btn btn-info" %>
      <% end %>
    </div>
  </div>
  </div>

  <div class="punchline alert alert-info">
    <p>Click for punchline</p>
  </div>  
</div>

<div class="container">
	<div class="span16 offset3">
	<div class="fb-comments" data-href="http://vagavitsa.se/jokes/<%= @joke.id %>" data-num-posts="10"></div>
	</div>
</div>


<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
